
@media only screen and (max-width: 812px){ 
	#content-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.column{
		width: 94%;
		margin-left: 3%;
	}

	#featured{
		max-width: 100%;
		max-height: auto;
		object-fit: cover;
		cursor: pointer;
		border: 1px solid black;
	
	}
	
	.thumbnail{
		object-fit: cover;
		max-width: 20%;
		max-height: auto;
		cursor: pointer;
		opacity: 0.5;
		margin: 5px;
		border: 1px solid black;

	
	}
	
	.thumbnail:hover{
		opacity:1;
	}
	
	.active{
		opacity: 1;
	}
	
	#slide-wrapper{
		width: 100%;
		display: flex;
		height: auto;
		align-items: center;
		margin-left: 4%;
	}
	
	#slider{
		width: 75%;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
	
	}
	
	#slider::-webkit-scrollbar {
			height:5px;
	
	}
	
	 
	#slider::-webkit-scrollbar-thumb {
	  background-color: #dede2e;
	  outline: 1px solid slategrey;
	   border-radius: 100px;
	
	}
	
	#slider::-webkit-scrollbar-thumb:hover{
		background-color: #18b5ce;
	}
	
	.arrow{
		font-size: 21px;
		cursor: pointer;
		transition: .3s;
	}
	
	.arrow:hover{
		opacity: .5;
		width: 35px;
		height: 35px;
	}

	.dglink{
		color: rgb(19, 163, 26);
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		margin-left: 5%;
		font-size: 13px;
		float: left;
	}
	.tensp{
		font-size: 21px;
		text-align:left;
		width: 98%;
		float: left;
		margin-left: 3%;
		margin-top: 5%;
	}
	.ttrangsp{
		font-size: 18px;
		color:#333333;
		margin-top: 5%;
		width: 100%;
		float: left;
		margin-left: 5%;
	}
	.ttrangsp1{
		font-size: 13px;
		color:#333333;
		margin-top: 5%;
		width: 100%;
		float: left;
		margin-left: 10%;
	}

	.ttinsp{
		float: left;
		margin-top: 10%;
		width: 100%;
	}
	.ttinsp1{
		float: left;
		width: 100%;
		margin-left: 5%;
	}
	.ttinsp2{
		text-align: left;
		margin-left: 5%;
		float: left;
		padding: 5px;
	}
	.ttinsp2 > li {
		margin-left: 3%;
	}
	

	.anh {
		width: 90%;
		float: left;
		margin-left: 5%;
	}
	.anh2 {
		width: 90%;
		float: left;
		margin-left: 5%;
	}
	
	.hr{
		color: black;
		height: 1px;
		width: 90%;
		margin-left: 5%;
	}
	.hq3{
		float: left;
		margin-left: 3%;
	}
	.hq4{
		
		font-size: 14px;
	}
	.hq5{
		font-size: 26px;
		color: #51AA1B;
	}
    .divanhsp{
        width: 100%;
        float: left;
    }
    .divtensp{
        width: 100%;
        float: left;
    }
	.sl{
		float: left;
		width: 100%;
		margin-left: 5%;
		margin-top: 15px;
		
	}
    .sl > span {
        margin-left: 3%;
        font-size: 21px;
    }
	.sl1{
		width: 40px;
		height: 25px;
	}
	.btthem{
		margin-top: 20px;
		float: left;
		width: 100%;
		margin-left: 3%;
	}
	
	button {
		background-color: goldenrod;
		color: white;
		padding: 18px 20px;
		margin: 10px 0;
		border: none;
		cursor: pointer;
		width: 35%;
        margin-left: 5%;
	}
	  
	button:hover {
		opacity: 0.8;
	}
	
}






@media only screen and (min-width: 813px){
	#content-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}


	.dglink{
		color: rgb(19, 163, 26);
		font-family: Arial, Helvetica, sans-serif;
		width: 100%;
		margin-left: 5%;
		font-size: 15px;
	}
	
	
	.column{
		width: 100%;
		padding: 10px;
		margin-left: 3%;
		float: left;
	
	}
	
	#featured{
		max-width: 95%;
		max-height: auto;
		object-fit: cover;
		cursor: pointer;
		border: 1px solid black;
	
	}
	
	.thumbnail{
		object-fit: cover;
		max-width: 15%;
		max-height: auto;
		cursor: pointer;
		opacity: 0.5;
		margin: 5px;
		border: 1px solid black;
	
	}
	
	.thumbnail:hover{
		opacity:1;
	}
	
	.active{
		opacity: 1;
	}
	
	#slide-wrapper{
		max-width: 100%;
		display: flex;
		min-height: auto;
		align-items: center;
	}
	
	#slider{
		width: 80%;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
	
	}
	
	#slider::-webkit-scrollbar {
			height:5px;
	
	}
	
	 
	#slider::-webkit-scrollbar-thumb {
	  background-color: #dede2e;
	  outline: 1px solid slategrey;
	   border-radius: 100px;
	
	}
	
	#slider::-webkit-scrollbar-thumb:hover{
		background-color: #18b5ce;
	}
	
	.arrow{
		font-size: 25px;
		cursor: pointer;
		transition: .3s;
	}
	
	.arrow:hover{
		opacity: .5;
		width: 35px;
		height: 35px;
	}

	.tensp{
		font-size: 30px;
		text-align:left;
		width: 100%;
		float: left;
		margin-left: 3%;
	}
	.ttrangsp {
		text-align:left;
		width: 105%;
		float: left;
		margin-left: 3%;
		font-size: 21px;
		color:#333333;
		padding: 5px;
		margin-top: 3%;
	
	}

	.ttrangsp1{
		font-size: 15px;
		text-align:left;
		width: 100%;
		float: left;
		margin-left: 10%;
		color:#333333;
		padding: 5px;
	}
	.anhsp{
		width: 100%;
        float: left;
	}
	.chusupport{
        float: left;
		width: 100%;
		text-align: center;
		font-size: 18px;
        padding: 10px;
        font-weight:550;
	}
	.sdtsupport{
        float: left;
		text-align: center;
		font-size: 30px;
		color: red;
		font-weight:900;
        padding: 10px;
        margin-top: 5%;
	}
	.ttinsp {
		width: 94%;
		margin-left: 3%;
		float: left;
		margin-top: 1%;
	}
	.ttinsp1{
		font-size: 30px;
		width: 100%;
	}
	.ttinsp2{
		text-align: left;
		float: left;
		padding: 5px;
		width: 100%;
	}

	.ttinsp2 > li {
		margin-left: 3%;
	}
	.ttinsp3{
		font-weight: 600;
	}
	.ttinsp4{
		padding: 10px 0 10px 0;
	}
	.anh{
		width: 30%;
		height: auto;
	}
	.anh2{
		width: 100%;
		height: auto;
	}
	.anhl{
		text-align: center;
		width: 100%;
	}

	.hq{
		float: left;
		margin-left: 10%;
		margin-top: 5px;
	}
	.hq1{
		
		font-size: 18px;
	}
	.hq2{
		font-size: 34px;
		color: #51AA1B;
	}
	.sl{
		float: left;
		width: 100%;
		margin-left: 5%;
		margin-top: 10px;
		
	}
    .sl > span {
        margin-left: 3%;
        font-size: 21px;
    }
	.sl1{
		width: 40px;
		height: 25px;
	}
	.btthem{
		margin-top: 20px;
		float: left;
		width: 100%;
		margin-left: 2%;
	}
	
	button {
		background-color: goldenrod;
		color: white;
		padding: 18px 20px;
		margin: 10px 0;
		border: none;
		cursor: pointer;
		width: 35%;
        margin-left: 3%;
        
		
	}
	  
	button:hover {
		opacity: 0.8;
	}

    .sanpham{
        width: 100%;
        height: auto;
    }
    .divanhsp{
        width: 38%;
        float: left;
    }
    .divtensp{
        width: 36%;
        float: left;
    }
    .divhtosp{
        width: 26%;
        float: left;
        margin-top: 3%;
    	padding: 10px;
    }
	.hsdgao{
		color: #A69C99;
		font-size: 17px;
		margin-left: 5%;
	}
}